*
!.gitignore
!emacs-icicles-git
!semi-git
!lib3ds
!slim-theme-burning-arch
!libdrm-git
!st-git
!emacs-zenburn-git
!libfm-git
!surf-git
!dri2proto-git
!systools-git
!mbpfand
!tabbed-git
!dwm-git
!flim-git
!toluapp
!eigen3
!freetype2-cleartype
!openmesh
!wanderlust-git
!emacs-apel-git
!openscad
!xcursor-ecliz
!pcmanfm-git
